<div class="tree_wrapper">
    <div id="browser">
        <ul class="tree">
            {% include "DCMSAdminBundle:Endpoint:_treeNode.html.twig" with {'node': root} %}
        </ul>
    </div>
</div>
