<ul class="endpoint-tree" id="browser_tree">
    {% for child in root.children %}
        {% include "DCMSAdminBundle:Endpoint:_treeNode.html.twig" with {'node': child} %}
    {% endfor %}
</ul>
<div id="endpoint_tree_controls" style="display: none">
    <input class="button" id="endpoint_tree_controls_save" type="submit" value="Save"/>
    <input class="button secondary" id="endpoint_tree_controls_cancel" type="button" value="Cancel"/>
</div>
