{% extends "DCMSAdminBundle::layout.html.twig" %}
{% block title %}
    <h2>P*</h2>
{% endblock %}
{% block main %}
    <div class="tree_wrapper">
        <div id="browser">
            <ul class="tree">
                {% include "DCMSAdminBundle:Endpoint:_endpointTree.html.twig" with {'node': root} %}
            </ul>
        </div>
    </div>
{% endblock %}
