{% extends "DCMSAdminBundle::layout.html.twig" %}
{% block title %}
    P*
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/dcmsadmin/js/jquery.mjs.nestedSortable.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var treeCommands = new Array();
            $('#browser_tree').nestedSortable({
                handle: 'a',
                items: 'li',
                toleranceElement: '> a',
                listType: 'ul',
                attribute: 'uuid',
                expression: /()([a-zA-Z0-9-]+)/,
                start: function (ui, event) {
                },
                stop: function (event, ui) {
                    var epLi = ui.item;
                    var next = epLi.next();
                    var prev = epLi.prev();
                    var parent = epLi.parents('li.endpoint');

                    if (parent) {
                        parent = parent.attr('uuid');
                    } else {
                        parent = '';
                    }

                    if (next != undefined) {
                        next = next.attr('uuid');
                    }

                    if (prev != undefined) {
                        prev = prev.attr('uuid');
                    }

                    var command = {
                        'source': epLi.attr('uuid'),
                        'prev': prev,
                        'next': next,
                        'parent': parent
                    };

//                    $('#browser_tree').mask('Updating');

                    $.ajax({
                        type: 'post',
                        url: '{{ path('dcms_admin_endpoint_updatetree') }}',
                        data: {
                          'command': command,
                        },
                        success: function (resp) {
 //                           $('#browser_tree').unmask();
                            treeCommands = new Array();
                        },
                    });
                }
            });

            $('#create_endpoint_button').bind('click', function() {
                $.ajax({
                    type: 'get',
                    url: '{{ path('dcms_admin_endpoint_create') }}',
                    success: function (resp, status, xhr) {
                        $('#endpoint_create_form').html(resp);
                        init_create_ep_form();
                    },
                    error: function (resp) {
                        console.log(resp);
                    },
                });
                $('#endpoint_create_form').reveal();
            });

            function init_create_ep_form() {
                $('#create_ep_submit_button').bind('click', function () {
                    $('#endpoint_create_form').mask('{% trans %}Updating{% endtrans %}');
                    var data = $('#endpoint_create_form form').serialize();

                    $.ajax({
                        type: 'post',
                        url: '{{ path('dcms_admin_endpoint_create') }}',
                        data: data,
                        success: function (resp, status, xhr) {
                            $('#endpoint_create_form').html(resp);
                            init_create_ep_form();
                            $('#endpoint_create_form').unmask();
                        },
                        error: function (resp, message, xhr) {
                            $('#endpoint_create_form').html(resp.responseText);
                            $('#endpoint_create_form').unmask();
                        },
                    });

                    return false;
                });
            }

            init_create_ep_form();
        });
    </script>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="three columns">
            <div class="action-bar">
                <button id="create_endpoint_button" class="button">Create</button>
            </div>
            {% render "DCMSAdminBundle:Endpoint:_tree" %}
        </div>
        <div class="nine columns">
        {% block endpoint_edit %}
        {% endblock %}
        </div>
    </div>
    <div class="reveal-modal" id="endpoint_create_form">
    </div>
{% endblock %}
