{% extends "DCMSAdminBundle::layout.html.twig" %}
{% block title %}
    P*
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/dcmsadmin/js/jquery.mjs.nestedSortable.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var treeCommands = new Array();
            $('#browser_tree').nestedSortable({
                handle: 'a',
                items: 'li',
                toleranceElement: '> a',
                placeholder: 'placeholder',
                forcePlaceholderSize: true,
                listType: 'ul',
                attribute: 'uuid',
                expression: /()([a-zA-Z0-9-]+)/,
                start: function (ui, event) {
                },
                stop: function (event, ui) {
                    var epLi = ui.item;
                    var next = epLi.next();
                    var prev = epLi.prev();
                    var parent = epLi.parents('li.endpoint');

                    if (parent) {
                        parent = parent.attr('uuid');
                    } else {
                        parent = '';
                    }

                    if (next != undefined) {
                        next = next.attr('uuid');
                    }

                    if (prev != undefined) {
                        prev = prev.attr('uuid');
                    }

                    var command = {
                        'source': epLi.attr('uuid'),
                        'prev': prev,
                        'next': next,
                        'parent': parent
                    };

                    $('#browser_tree').mask('Updating');

                    $.ajax({
                        type: 'post',
                        url: '{{ path('dcms_admin_endpoint_updatetree') }}',
                        data: {
                          'command': command,
                        },
                        success: function (resp) {
                            $('#browser_tree').unmask();
                            treeCommands = new Array();
                        },
                    });
                }
            });

            $('#delete_endpoint_button').bind('click', function () {
                return $.confirm('{% trans %}Are you sure?{% endtrans %}');
            });
        });
    </script>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="three columns">
            <div class="action-bar">
                <button id="create_endpoint_button" class="button">Create</button>
            </div>
            {% render url('dcms_admin_endpoint_tree') %}
        </div>
        <div class="nine columns">
        {% block endpoint_edit %}
        {% endblock %}
        </div>
    </div>

    {{ forms.fancyForm({
        'activate_anchor': 'create_endpoint_button',
        'get_url': path('dcms_admin_endpoint_create'),
        'post_url': path('dcms_admin_endpoint_create'),
    }) }}
{% endblock %}
