{% extends "DCMSAdminBundle::layout.html.twig" %}
{% block main %}
    <div class="row">
        <div class="three columns">
            {% block column_1 %}
            {% endblock %}
        </div>
        <div class="nine columns">
            {% block column_2 %}
            {% endblock %}
        </div>
    </div>
{% endblock %}


