<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('bundles/dcmsadmin/stylesheets/screen.css') }}"/>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="two-col">
        <div id="container">
            <div id="header">
                <h1 class="span-4"><img src="{{ asset('bundles/dcmsadmin/images/dcms.png') }}" /></h1>
                <nav id="level-1" class="span-8">
                    <a href="{{ path('dcms_admin_endpoint_index') }}">Pages</a>
                    <a href="#">Content</a>
                    <a href="#">Appearance</a>
                </nav>
            </div>
            {% block main %}
            {% endblock %}
        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
