/*
Syntax error: Undefined mixin 'background'.
        on line 4 of /home/daniel/www/DCMS/src/DCMS/Bundle/AdminBundle/Resources/public/sass/main.scss, in `background'
        from line 4 of /home/daniel/www/DCMS/src/DCMS/Bundle/AdminBundle/Resources/public/sass/main.scss

1: /home/daniel/www/DCMS/src/DCMS/Bundle/AdminBundle/Resources/public/sass/main.scss

Backtrace:
/home/daniel/www/DCMS/src/DCMS/Bundle/AdminBundle/Resources/public/sass/main.scss:4:in `background'
/home/daniel/www/DCMS/src/DCMS/Bundle/AdminBundle/Resources/public/sass/main.scss:4
/usr/lib/ruby/vendor_ruby/sass/../sass/tree/visitors/perform.rb:170:in `visit_mixin'
/usr/lib/ruby/vendor_ruby/sass/../sass/tree/visitors/base.rb:37:in `send'
/usr/lib/ruby/vendor_ruby/sass/../sass/tree/visitors/base.rb:37:in `visit'
/usr/lib/ruby/vendor_ruby/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/usr/lib/ruby/vendor_ruby/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/../sass/tree/visitors/base.rb:53:in `map'
/usr/lib/ruby/vendor_ruby/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
/usr/lib/ruby/vendor_ruby/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/../sass/tree/visitors/base.rb:37:in `visit'
/usr/lib/ruby/vendor_ruby/sass/../sass/tree/visitors/perform.rb:238:in `visit_rule'
/usr/lib/ruby/vendor_ruby/sass/../sass/tree/visitors/base.rb:37:in `send'
/usr/lib/ruby/vendor_ruby/sass/../sass/tree/visitors/base.rb:37:in `visit'
/usr/lib/ruby/vendor_ruby/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/usr/lib/ruby/vendor_ruby/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/../sass/tree/visitors/base.rb:53:in `map'
/usr/lib/ruby/vendor_ruby/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
/usr/lib/ruby/vendor_ruby/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/../sass/tree/visitors/base.rb:37:in `visit'
/usr/lib/ruby/vendor_ruby/sass/../sass/tree/visitors/perform.rb:47:in `visit_root'
/usr/lib/ruby/vendor_ruby/sass/../sass/tree/visitors/base.rb:37:in `send'
/usr/lib/ruby/vendor_ruby/sass/../sass/tree/visitors/base.rb:37:in `visit'
/usr/lib/ruby/vendor_ruby/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/usr/lib/ruby/vendor_ruby/sass/../sass/tree/visitors/perform.rb:7:in `send'
/usr/lib/ruby/vendor_ruby/sass/../sass/tree/visitors/perform.rb:7:in `visit'
/usr/lib/ruby/vendor_ruby/sass/../sass/tree/root_node.rb:20:in `render'
/usr/lib/ruby/vendor_ruby/sass/../sass/engine.rb:300:in `_render'
/usr/lib/ruby/vendor_ruby/sass/../sass/engine.rb:247:in `render'
/usr/lib/ruby/vendor_ruby/sass/../compass/compiler.rb:140:in `compile'
/usr/lib/ruby/vendor_ruby/sass/../compass/compiler.rb:126:in `timed'
/usr/lib/ruby/vendor_ruby/sass/../compass/compiler.rb:139:in `compile'
/usr/lib/ruby/vendor_ruby/sass/../compass/logger.rb:45:in `red'
/usr/lib/ruby/vendor_ruby/sass/../compass/compiler.rb:138:in `compile'
/usr/lib/ruby/vendor_ruby/sass/../compass/compiler.rb:118:in `compile_if_required'
/usr/lib/ruby/vendor_ruby/sass/../compass/compiler.rb:103:in `run'
/usr/lib/ruby/vendor_ruby/sass/../compass/compiler.rb:101:in `each'
/usr/lib/ruby/vendor_ruby/sass/../compass/compiler.rb:101:in `run'
/usr/lib/ruby/vendor_ruby/sass/../compass/compiler.rb:126:in `timed'
/usr/lib/ruby/vendor_ruby/sass/../compass/compiler.rb:100:in `run'
/usr/lib/ruby/vendor_ruby/sass/../compass/commands/watch_project.rb:147:in `recompile'
/usr/lib/ruby/vendor_ruby/sass/../compass/commands/watch_project.rb:5:in `to_proc'
/usr/lib/ruby/vendor_ruby/sass/../fssm/path.rb:73:in `call'
/usr/lib/ruby/vendor_ruby/sass/../fssm/path.rb:73:in `run_callback'
/usr/lib/ruby/vendor_ruby/sass/../fssm/path.rb:55:in `callback_action'
/usr/lib/ruby/vendor_ruby/sass/../fssm/path.rb:35:in `update'
/usr/lib/ruby/vendor_ruby/sass/../fssm/state/directory.rb:39:in `modified'
/usr/lib/ruby/vendor_ruby/sass/../fssm/state/directory.rb:37:in `each'
/usr/lib/ruby/vendor_ruby/sass/../fssm/state/directory.rb:37:in `modified'
/usr/lib/ruby/vendor_ruby/sass/../fssm/state/directory.rb:18:in `refresh'
/usr/lib/ruby/vendor_ruby/sass/../fssm/backends/inotify.rb:12:in `add_handler'
/usr/lib/ruby/vendor_ruby/sass/../rb-inotify/notifier.rb:200:in `call'
/usr/lib/ruby/vendor_ruby/sass/../rb-inotify/notifier.rb:200:in `watch'
/usr/lib/ruby/vendor_ruby/sass/../rb-inotify/watcher.rb:41:in `[]'
/usr/lib/ruby/vendor_ruby/sass/../rb-inotify/watcher.rb:41:in `callback!'
/usr/lib/ruby/vendor_ruby/sass/../rb-inotify/event.rb:128:in `callback!'
/usr/lib/ruby/vendor_ruby/sass/../rb-inotify/notifier.rb:233:in `process'
/usr/lib/ruby/vendor_ruby/sass/../rb-inotify/notifier.rb:233:in `each'
/usr/lib/ruby/vendor_ruby/sass/../rb-inotify/notifier.rb:233:in `process'
/usr/lib/ruby/vendor_ruby/sass/../rb-inotify/notifier.rb:216:in `run'
/usr/lib/ruby/vendor_ruby/sass/../fssm/backends/inotify.rb:20:in `run'
/usr/lib/ruby/vendor_ruby/sass/../fssm/monitor.rb:26:in `run'
/usr/lib/ruby/vendor_ruby/sass/../fssm.rb:67:in `monitor'
/usr/lib/ruby/vendor_ruby/sass/../compass/commands/watch_project.rb:87:in `perform'
/usr/lib/ruby/vendor_ruby/sass/../compass/commands/base.rb:18:in `execute'
/usr/lib/ruby/vendor_ruby/sass/../compass/commands/project_base.rb:19:in `execute'
/usr/lib/ruby/vendor_ruby/sass/../compass/exec/sub_command_ui.rb:43:in `perform!'
/usr/lib/ruby/vendor_ruby/sass/../compass/exec/sub_command_ui.rb:15:in `run!'
/usr/bin/compass:30
/usr/bin/compass:44:in `call'
/usr/bin/compass:44
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'background'.\A         on line 4 of /home/daniel/www/DCMS/src/DCMS/Bundle/AdminBundle/Resources/public/sass/main.scss, in `background'\A         from line 4 of /home/daniel/www/DCMS/src/DCMS/Bundle/AdminBundle/Resources/public/sass/main.scss\A \A 1: /home/daniel/www/DCMS/src/DCMS/Bundle/AdminBundle/Resources/public/sass/main.scss"; }
