/* line 4, ../../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, ../../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 21, ../../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, ../../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, ../../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, ../../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 1, ../sass/main.scss */
#container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  font-family: sans-serif;
}

/* line 6, ../sass/main.scss */
#header {
  padding: 5px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dddddd), color-stop(33.333%, #dddddd), color-stop(66.667%, #eeeeee), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(#dddddd, #dddddd, #eeeeee, #ffffff);
  background: -moz-linear-gradient(#dddddd, #dddddd, #eeeeee, #ffffff);
  background: -o-linear-gradient(#dddddd, #dddddd, #eeeeee, #ffffff);
  background: linear-gradient(#dddddd, #dddddd, #eeeeee, #ffffff);
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  color: #000;
  border-color: #aaa;
  border-bottom-width: 1px;
}
/* line 147, ../../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #header {
  overflow-x: hidden;
}
/* line 14, ../sass/main.scss */
#header h1 {
  font-size: 24px;
  float: left;
  width: 230px;
  font-family: serif;
  color: red;
}
/* line 23, ../sass/main.scss */
#header nav ul {
  list-style: none;
}
/* line 11, ../../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_bullets.scss */
#header nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
/* line 26, ../sass/main.scss */
#header nav ul a {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #222222), color-stop(33.333%, #333333), color-stop(66.667%, #777777), color-stop(100%, #888888));
  background: -webkit-linear-gradient(#222222, #333333, #777777, #888888);
  background: -moz-linear-gradient(#222222, #333333, #777777, #888888);
  background: -o-linear-gradient(#222222, #333333, #777777, #888888);
  background: linear-gradient(#222222, #333333, #777777, #888888);
  color: #fff;
  padding: 10px;
  display: block;
  float: left;
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
  border-color: #111;
  margin: 5px;
}
/* line 39, ../sass/main.scss */
#header nav ul a:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #005500), color-stop(50%, #006600), color-stop(100%, #00aa00));
  background: -webkit-linear-gradient(#005500, #006600, #00aa00);
  background: -moz-linear-gradient(#005500, #006600, #00aa00);
  background: -o-linear-gradient(#005500, #006600, #00aa00);
  background: linear-gradient(#005500, #006600, #00aa00);
}
/* line 43, ../sass/main.scss */
#header nav ul li.current a {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #000055), color-stop(50%, #000066), color-stop(100%, #0000aa));
  background: -webkit-linear-gradient(#000055, #000066, #0000aa);
  background: -moz-linear-gradient(#000055, #000066, #0000aa);
  background: -o-linear-gradient(#000055, #000066, #0000aa);
  background: linear-gradient(#000055, #000066, #0000aa);
}

/* line 50, ../sass/main.scss */
div.page_info {
  height: 40px;
  padding-top: 5px;
}
/* line 53, ../sass/main.scss */
div.page_info h2 {
  font-size: 24px;
}

/* line 58, ../sass/main.scss */
div.tree_wrapper {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
}
/* line 147, ../../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html div.tree_wrapper {
  overflow-x: hidden;
}
/* line 61, ../sass/main.scss */
div.tree_wrapper ul.tree {
  list-style: none;
}
/* line 11, ../../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_bullets.scss */
div.tree_wrapper ul.tree li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
/* line 64, ../sass/main.scss */
div.tree_wrapper ul.tree ul {
  margin-left: 10px;
}
/* line 68, ../sass/main.scss */
div.tree_wrapper ul.tree li {
  margin: 0px 5px 0px 0px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dddddd), color-stop(33.333%, #eeeeee), color-stop(66.667%, #eeeeee), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(#dddddd, #eeeeee, #eeeeee, #ffffff);
  background: -moz-linear-gradient(#dddddd, #eeeeee, #eeeeee, #ffffff);
  background: -o-linear-gradient(#dddddd, #eeeeee, #eeeeee, #ffffff);
  background: linear-gradient(#dddddd, #eeeeee, #eeeeee, #ffffff);
  padding: 5px;
  border-color: #ccc;
  border-style: solid;
  border-width: 1px;
  height: 24px;
  width: 150px;
}
/* line 78, ../sass/main.scss */
div.tree_wrapper ul.tree li img {
  float: left;
  margin-right: 5px;
}
/* line 83, ../sass/main.scss */
div.tree_wrapper ul.tree li span {
  display: block;
}
/* line 88, ../sass/main.scss */
div.tree_wrapper ul.tree li:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ddffdd), color-stop(50%, #ccffcc), color-stop(100%, #aaccaa));
  background: -webkit-linear-gradient(#ddffdd, #ccffcc, #aaccaa);
  background: -moz-linear-gradient(#ddffdd, #ccffcc, #aaccaa);
  background: -o-linear-gradient(#ddffdd, #ccffcc, #aaccaa);
  background: linear-gradient(#ddffdd, #ccffcc, #aaccaa);
}
