<ul class="nav-bar vertical">
    <li> <a href="{{ path('dcms_blog_post_index') }}">All posts</a></li>
    {% for blog in blogs %}
    <li> <a href="{{ path('dcms_blog_post_index', {'blog_uuid': blog.uuid}) }}">{{ blog.nodeName }}</a></li>
    {% endfor %}
</ul>

