ul.endpoint-tree, ul.endpoint-tree ul { 
    list-style: none; 
}

ul.endpoint-tree a {
    border: 1px solid #ccc;
    padding: 5px 10px 6px;
    margin: 2px;
    position: relative;
    display: inline-block;
    border-collapse: collapse;
    width: 150px;
    white-space: nowrap;
    overflow: clip;
}

ul.endpoint-tree a:hover {
    background-color: #eee;
}

.wmd-panel textarea {
    background-color: black;
    color: #ddd;
    font-family: monospace;
    height: 250px;
}

input[type="text"].large {
    font-size: 30px;
    height: 50px;
}

.action-bar {
    margin: 10px 0px;
}
