<h2>{% trans %}Template Created{% endtrans %}</h2>
<a href="{{ path('dcms_theme_template_edit', {'template_uuid': template.uuid}) }}" class="button">Edit the template</a>
<button class="button">Return</button>

