<ul class="tagCloud">
{% for name, tag in wTags %}
    <li style="font-size: {{ 24 * tag.weight }}px">
        <a href="{{ ep_path(tag.blog) }}?tag={{ name}}">{{ name }}</a>
    </li>
{% endfor %}
</ul>
