{% extends "DCMSBlogBundle::layout.html.twig" %}
{% block content %}
<div class="row">
    <div class="nine columns">
        <h3 class="subheader">Posts</h3>
    </div>
</div>
{% include "DCMSBlogBundle:Post:_postList.html.twig" %}
{% endblock %}
