#container {
    @include container();
    font-family: sans-serif;
}

#header {
    padding: 5px;
    @include background(linear-gradient(#ddd, #ddd, #eee, #fff));
    @include column(12);
    color: #000;
    border-color: #aaa;
    border-bottom-width: 1px;

    h1 {
        font-size: 24px;
        float: left;
        width: span(3);
        font-family: serif;
        color: red;
    }

    nav {
        ul {
            @include no-bullets();

            a {
                @include background(linear-gradient(#222, #333, #777, #888));
                color: #fff;
                padding: 10px;
                display: block;
                float: left;
                text-decoration: none;
                border-style: solid;
                border-width: 1px;
                border-color: #111;
                margin: 5px;
            }

            a:hover {
                @include background(linear-gradient(#005500, #006600, #00aa00));
            }

            li.current a {
                @include background(linear-gradient(#000055, #000066, #0000aa));
            }
        }
    }
}

div.page_info {
    height: 40px;
    padding-top: 5px;
    h2 {
        font-size: 24px;
    }
}

div.tree_wrapper {
    @include column(3);

    ul.tree {
        @include no-bullets();

        ul {
            margin-left: 10px;
        }

        li {
            margin: 0px 5px 0px 0px;
            @include background(linear-gradient(#ddd, #eee, #eee, #fff));
            padding: 5px;
            border-color: #ccc;
            border-style: solid;
            border-width: 1px;
            height: 24px;
            width: 150px;

            img {
                float: left;
                margin-right: 5px;
            }

            span {
                display: block;
            }
        }

        li:hover {
            @include background(linear-gradient(#ddffdd, #ccffcc, #aaccaa));
        }
    }
}
