{% extends "DCMSAdminBundle::layout.html.twig" %}
{% block main %}
    <div class="row">
        <div class="three columns">
            <div class="action-bar">
                <a href="{{ path('dcms_blog_post_create') }}" class="button">Create</a>
            </div>
            {% render "DCMSBlogBundle:Blog:blogList" %}
        </div>
        <div class="nine columns">
        {% block content %}
        {% endblock %}
        </div>
    </div>
    <div class="reveal-modal" id="template_create_form">
    </div>
{% endblock %}


