{% extends template_manager.layoutForEndpoint(endpoint) %}
{% block endpoint %}
<h1>It works!</h1>
<p>However this is the default page -- the main reason that you might see this page is that you have not yet chosen a homepage for your website <b>OR</b> if you requested an Endpoint for which no routing resource has been defined.</p>
{% endblock %}
